<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IOKitPersonalities</key>
	<dict>
		<key>RTL8821CE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.crangel.RTL8821CEwifi</string>
			<key>IOClass</key>
			<string>RTL8821CEwifi</string>
			<key>IOMatchCategory</key>
			<string>WiFiDriver</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0xC82110EC</string>
			<key>IONetworkRootType</key>
			<string>airport</string>
			<key>IOProbeScore</key>
			<integer>90000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIEDeviceWrapper</string>
			<key>IOUserClientClass</key>
			<string>ItlNetworkUserClient</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.5.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.7</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.10.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
