name: Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - run: xcodebuild -project RTL8821CEwifi.xcodeproj -target RTL8821CEwifi -configuration Release -sdk macosx
      - uses: actions/upload-artifact@v4
        with:
          name: RTL8821CEwifi-Kext
          path: build/Release/RTL8821CEwifi.kext
